@import "tailwindcss";

@theme {
  --color-primary: #0587FF;
  --color-headBlack: #24292E;
  --color-blackText: #262626;
  --color-greyText: #989898;
  --color-buttonColorLeft: #0056A6;
  --color-buttonColorRight: #0587FF; 
  --color-borderBottom: #FD8C73;
  --color-borderQtd: #DBDBDB;
  --color-bgQtd: #F8F8F8;
}

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  transition: 0.25s;
}
button:hover {
  opacity: 0.8;
  box-shadow: 3px 7px 10px #0056A6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
